[Desktop Entry]
Actions=NameWhitespaceReplace;
Icon=keyboard-spacebar
MimeType=all/allfiles;inode/directory;
ServiceTypes=KonqPopupMenu/Plugin
Type=Service
X-KDE-StartupNotify=false
X-KDE-Submenu=KDE-Services
X-KDE-Submenu[x-test]=xxKDE-Servicesxx

[Desktop Action NameWhitespaceReplace]
Exec=~/.local/share/applications/Dolphin_Tools-name-whitespace-replace.sh
Icon=keyboard-spacebar
Name=[File|Dir]name Whitespace Replace
Name[de]=Leerzeichen ersetzen von [datei|verzeichnis]
Name[es]=Reemplazar espacio en nombre de [fichero|directorio]
Name[fr]=Remplacer les espace dans le nom du [fichier|dossier]
Name[it]=Rimpiazza spazio nel nome dei [file|cartella]
Name[ja]=からスペースを交替させなさい [ファイル|∥ディレクトリ] ∥
Name[ko]=공간을 바꾼다 [파일|디렉토리]
Name[pt]=Substituir espaço em nome de [arquivo|diretório]
Name[ru]=Заменить пробелы в имени [файла|папки]
Name[uk]=Замінити пробіли у назві [файлу|теки]
Name[zh_CN]=[文件|目录]名去除空格
Name[x-test]=xx[File|Dir]name Whitespace Replacexx
